@model IEnumerable<TopRock.Models.Cart>

@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal total = 0;
    decimal eachTotal;
    decimal CentsTotal = 0;
}

<h1>Payment</h1>

<br />
<h3>Payment Details</h3>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th class="text-right">
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            eachTotal = 0;
            eachTotal += item.Quantity * item.Price;
            total += eachTotal;
            CentsTotal = total * 100; // staipe was amount in cents, not dollars + cents

            <tr>
                <td>
                    <a asp-controller="Shop" asp-action="ProductDetails" asp-route-product="@item.Product.Name">@item.Product.Name</a>
                </td>
                <td class="text-right">
                    @String.Format("{0:c}", item.Price)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="text-right">
                    @String.Format("{0:c}", eachTotal)
                </td>
            </tr>
        }
        <tr>
            <td colspan="3"></td>
            <td class="text-right">@String.Format("{0:c}", total)</td>
        </tr>
    </tbody>
</table>

<br />
<h3>Order Total: @String.Format("{0:c}", total)</h3>
@*<h3>Order Total: @String.Format("{0:c}", ViewBag.Total)</h3>*@
<form method="post">
    <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-amount="@CentsTotal"
            @*data-amount="@ViewBag.CentsTotal"*@
            data-name="Ctrl-Alt-PC"
            data-currency="cad"
            data-key="@ViewBag.PublishableKey">
    </script>
</form>
